{{>header}}

<p>Yo, use this if you want to know some weather bro</p>

<form>
    <input placeholder="Put location here bro">
    <button>Search bro</button>
</form>
<p id="1"></p>
<p id="2"></p>
{{>footer}}